body{
     /* background: lightyellow; */
     background:url(https://images.pexels.com/photos/552774/pexels-photo-552774.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
     max-width: 100%;
     height:auto;

}


/* style elements */
#box1{

    background-color: goldenrod ;
    height: 20px;
    width: 20px;
    border-radius: 50%  ;
    margin-top: 50px;
    position: absolute;
    top: 150px;
    left: 300px;
    animation: faded;
    animation-duration: 3s ;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;

    
}
@keyframes faded {
    0%{
        opacity: 0;
    }  
   
    100% {
        opacity: 1;
    }
 }
 



#box2{

    
    background-color: mediumvioletred;
    height: 12px;
    width: 12px;
    border-radius:  50%;
    position: absolute;
    top: 400px;
    left: 250px;
    animation: fade1;
    animation-duration: 5s ;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;

}
@keyframes fade1 {
    0%{
        opacity: 1;
    }  
   
    100% {
        opacity: 0;
    }
 }
 
#box3{

    background-color: darkorange;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    left: 570px;
    animation: fade2;
    animation-duration: 7s ;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}
@keyframes fade2 {
    0%{
        opacity: 0;
    }  
   
    100% {
        opacity: 1;
    }
 }
#box4{

    background-color: mediumseagreen;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    left: 150px;
    animation: fade3;
    animation-duration: 7s ;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;

}
@keyframes fade3 {
    0%{
        opacity: 1;
    }  
   
    100% {
        opacity: 0;
    }
 }
#box5{

    background-color:lightgreen;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    position: absolute;
    top: 130px;
    left: 500px;
    animation: fade4;
    animation-duration: 8s ;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;

}
@keyframes fade4 {
    0%{
        opacity: 0;
    }  
   
    100% {
        opacity: 1;
    }
 }
#box6{

  
    background-color: lightsalmon;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    top: 360px;
    left: 370px;
    animation: fade5;
    animation-duration: 6s ;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;

}
@keyframes fade5 {
    0%{
        opacity: 1;
    }  
   
    100% {
        opacity: 0;
    }
 }
/* #box7{

    background-color: gray;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    
} */

/* #box8{

    border: 2px dashed whitesmoke;
    height: 58px;
    width: 58px;
    border-radius:50%;

}

#box9{

    background-color: gray;
    height: 60px;
    width: 60px;
    border-radius: 50%;

} */


/* digital watch */
#timer{
   
    color: white;
    position: absolute;
    left: 190px;
    top: 230px;
    font-size: 80px;
    font-style: italic;

}

#date{

    color: white;
    position: absolute;
    left: 250px;
    top: 320px;
    font-size: 25px;
    font-style: italic;

}

@media (max-width: 400px) {
    body {
       background: url('./clock.jpeg');
      
    }
    #timer{
        font-size: 20px;
    }

    #date{
         font-size: 20px;
    }
}





