/* main body */
body{
    background: url(https://images.pexels.com/photos/4061722/pexels-photo-4061722.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

/* style elements */
#box1{

    background-color:#ff7e00 ;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    margin-top: 50px;
}



#box2{

    border:2px dotted #9a5b76;
    height: 60px;
    width: 60px;
    border-radius:  50px;

}
#box3{

    background-color:lightpink ;
    height: 60px;
    width: 60px;
    border-radius: 50px;

}
#box4{

    border: 2px dotted darkkhaki;
    height: 60px;
    width: 60px;
    border-radius: 50px;

}
#box5{

    background-color: #dfe019 ;
    height: 60px;
    width: 60px;
    border-radius: 50px;
}
#box6{

    border: 2px dotted peru;
    height: 60px;
    width: 60px;
    border-radius:50px;

}
#box7{

    background-color: plum;
    height: 60px;
    width: 60px;
    border-radius: 50px;

}
#box8{

    border: 2px dotted #5cc673;
    height: 60px;
    width: 60px;
    border-radius: 50px;

}
#box9{

    background-color:#ce0043;
    height: 60px;
    width: 60px;
    border-radius: 50px;
}

#box10{

    border:2px dotted #7de7f3;
    height: 60px;
    width: 60px;
    border-radius: 50px;
}

#box11{

    background-color: #7db32f;
    height: 60px;
    width: 60px;
    border-radius: 50px;
}



/* digital watch */
#timer{
   
    color: #4833fd;
    position: absolute;
    left: 535px;
    top: 350px;
    font-size: 3vw;
    font-style: italic;
    transition: ease-in;

}


#circle{
    border-radius:50%;
    border: 7px solid green;
    position: absolute;
    top: 180px;
    left:430px;
    width: 400px;
    height: 400px;
    animation: faded;
    animation-duration: 4s ;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;

}

@keyframes faded {
    0%{
        border: 7px dotted #ef4cff ;
    }  
   50%{
    border: 7px dotted #ef8e8d ;
    }
    100% {
        border: 7px dotted purple;
    }
 }
