body{
     background-color: aliceblue;

}


/* style elements */
#box1{

    background-color:#ff7e00 ;
    height: 60px;
    width: 60px;
    border-radius: 50%  ;
    margin-top: 50px;
}



#box2{

    border:2px dashed #9a5b76;
    height: 58px;
    width: 58px;
    border-radius:  50%;
    

}
#box3{

    background-color:lightpink ;
    height: 60px;
    width: 60px;
    border-radius: 50%;

}
#box4{

    border: 2px dashed darkkhaki;
    height: 58px;
    width: 58px;
    border-radius: 50%;

}
#box5{

    background-color: #dfe019 ;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
#box6{

    border: 2px dashed peru;
    height: 58px;
    width: 58px;
    border-radius:50%;

}
#box7{

    background-color: plum;
    height: 60px;
    width: 60px;
    border-radius: 50%;

}
#box8{

    border: 2px dashed #5cc673;
    height: 58px;
    width: 58px;
    border-radius: 50%;

}
#box9{

    background-color:#ce0043;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

#box10{

    border:2px dashed #7de7f3;
    height: 58px;
    width: 58px;
    border-radius: 50%;
}

#box11{

    background-color: #7db32f;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}



/* digital watch */
#timer{
   
    color: #4833fd;
    position: absolute;
    left: 535px;
    top: 350px;
    font-size: 4vw;
    font-style: italic;
    transition: ease-in;

}


#circle{
    border-radius:50%;
    border: 7px solid green;
    position: absolute;
    top: 180px;
    left:430px;
    width: 400px;
    height: 400px;
    animation: faded;
    animation-duration: 4s ;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;

}

@keyframes faded {
    0%{
        border: 7px dashed #ef4cff ;
    }  
   50%{
    border: 7px dashed #ef8e8d ;
    }
    100% {
        border: 7px dashed purple;
    }
 }
